@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.otf')
}

@font-face {
  font-family:"Aller Light";src:url("../fonts/Aller_Light/Aller_Lt.eot?")
format("eot"),url("../fonts/Aller_Light/Aller_Lt.woff")
format("woff"),url("../fonts/Aller_Light/Aller_Lt.ttf")
format("truetype"),url("../fonts/Aller_Light/Aller_Lt.svg#Aller-Light")
format("svg");font-weight:normal;font-style:normal;
}
