// HSL
//$color1: hsla(352%, 72%, 70%, 1);
//$color2: hsla(2%, 82%, 82%, 1);
//$color3: hsla(339%, 49%, 88%, 1);
//$color4: hsla(235%, 45%, 55%, 1);
//$color5: hsla(279%, 30%, 27%, 1);

// RGB
$color1: #ff7844;
$color2: rgb(255, 195, 206);
$color3: rgb(255, 222, 234);
$color4: #b346ff;
$color5: rgba(87, 96, 191, 1);
$color6: rgba(76, 49, 91, 1);
$color7: #AB7C94;
