@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadPro-Regular.otf"); }
@font-face {
  font-family: "Aller Light";
  src: url("../fonts/Aller_Light/Aller_Lt.eot?") format("eot"), url("../fonts/Aller_Light/Aller_Lt.woff") format("woff"), url("../fonts/Aller_Light/Aller_Lt.ttf") format("truetype"), url("../fonts/Aller_Light/Aller_Lt.svg#Aller-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadPro-Regular.otf"); }
@font-face {
  font-family: "Aller Light";
  src: url("../fonts/Aller_Light/Aller_Lt.eot?") format("eot"), url("../fonts/Aller_Light/Aller_Lt.woff") format("woff"), url("../fonts/Aller_Light/Aller_Lt.ttf") format("truetype"), url("../fonts/Aller_Light/Aller_Lt.svg#Aller-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
/* For header Search Icon */
@keyframes over {
  0% {
    color: #AB7C94; }
  30% {
    color: white; }
  100% {
    color: #ff7844; } }
@keyframes out {
  0% {
    color: #ff7844; }
  60% {
    color: white; }
  100% {
    color: #AB7C94; } }
header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1; }
header .navbar-collapse.collapse {
  display: flex !important; }
header #upperNav {
  height: 6.5em; }
  header #upperNav .brand {
    margin-left: 16%;
    padding-left: 5.5em;
    background: url("../img/hexagons.svg") no-repeat;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    header #upperNav .brand:hover {
      transform: scale(0.9);
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
    header #upperNav .brand #logo {
      color: #ff7844;
      padding-top: 7px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 2.6em;
      font-family: "Aller Light", Arial, Helvetica, sans-serif; }
  header #upperNav form {
    margin-right: 16%; }
    header #upperNav form button {
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
      width: 0; }
      header #upperNav form button:focus {
        outline: none; }
      header #upperNav form button i.fa-search {
        color: #AB7C94;
        font-size: 1.8em;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; }
      header #upperNav form button .over {
        animation: over 0.5s ease-in forwards; }
      header #upperNav form button .out {
        animation: out 0.5s ease-in forwards; }
header #divider {
  height: 0.3em;
  background-image: radial-gradient(circle, #ffffff, #e9dbf8, #fcdcff, #f8c8ff, #f8c8ff); }

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadPro-Regular.otf"); }
@font-face {
  font-family: "Aller Light";
  src: url("../fonts/Aller_Light/Aller_Lt.eot?") format("eot"), url("../fonts/Aller_Light/Aller_Lt.woff") format("woff"), url("../fonts/Aller_Light/Aller_Lt.ttf") format("truetype"), url("../fonts/Aller_Light/Aller_Lt.svg#Aller-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  z-index: 2; }

html {
  font-size: 16px; }

body {
  background-color: white;
  font: normal 62.5% "Aller Light", Arial, Helvetica, sans-serif; }

/* ---- reset ---- */
canvas {
  display: block;
  z-index: 1 !important; }

.affix {
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out; }

.affix-top {
  background: transparent;
  border-color: transparent;
  padding: 15px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease; }

/* ---- particles.js container ---- */
/* ---- stats.js ---- */

/*# sourceMappingURL=styles.css.map */
